.jumbotron{
    margin-top: 100px;
}
.view-toggler{
    position: absolute;
    top: 25px;
    right: 0;
}
.view-toggler a{
    color: #ccc;
    /* padding-left: 8px; */
    padding-right: 8px;
    font-weight: 900;
}
.view-toggler a:hover{
    color: #333;
    transition: all .25s;
}
.active{
    color: #333;
}